html,
body {
  margin: 0;
  padding: 0;

  font-family: "Helvetica", "Verdana", sans-serif;
}

main {
  max-width: 1024px;
  margin: auto;
}

main h2:first-of-type {
  clear: left;
}

h1 {
  float: left;
}

hr {
  color: #cccccc;
}

img {
  float: right;
  margin: 20px 0 5px 5px;
}
